<mat-card>
    <mat-spinner diameter="150" *ngIf="loading"></mat-spinner>

    <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!loading">
        <mat-card-content>
            <mat-form-field>
                <input matInput
                       type="text"
                       name="title"
                       [ngModel]="post?.title"
                       required
                       minlength="3"
                       #title="ngModel"
                       placeholder="Title"
                >
                <mat-error *ngIf="title.invalid">Please enter a valid title.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput
                          rows="4"
                          name="content"
                          [ngModel]="post?.content"
                          required
                          #content="ngModel"
                          placeholder="Content"
                ></textarea>
                <mat-error *ngIf="content.invalid">Please enter a valid text content.</mat-error>
            </mat-form-field>
            <button
                mat-raised-button
                color="primary"
                type="submit"
            > Save Post </button>
        </mat-card-content>
    </form>
</mat-card>